body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    background-image: url(./Assets/home/fantasy-2861815_1280.jpg);
    padding: 50px;
    background-color: #222;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1 {
    font-size: 2.5em;
}

.featured-products {
    /* Add styling for featured product cards */
    display: flex;

}

.featured-products-header{
    background-color: #5f3939;
    display: flex;
}
.featured-products-header p{
    position: relative;
    margin-left: 700px;
}
.explore-categories-header{
    background-color: #5f3939;
    display: flex;
}
.explore-categories-header p{
    position: relative;
    margin-left: 700px;
}
.explore-categories {
    /* Add styling for category links */
    display: flex;
}

.explore-categories img{
    /* Add styling for category links */
    max-width: 600px;
    padding: 1px 1px 1px 1px;
}
.explore-categories-description{
    /* Add styling for category links */
   background-color: #222;
   width: 100%;
   color: wheat;
   text-align: center;
}
.explore-categories-description div{
}
.customer-reviews {
    /* Add styling for customer reviews */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
}
